streamlit==1.37.1
firebase-admin==6.6.0
googlemaps==4.7.0
google-auth==2.16.1
google-auth-oauthlib==1.2.1
google-api-python-client==2.79.0
textblob==0.15.3
protobuf==3.20.3  
transformers==4.33.3
geopy==2.2.0
requests==2.31.0
python-dotenv==1.0.0
pandas==2.2.3
torch==1.13.0
numpy==1.26.4
tensorflow
keras
simplejson
google-generativeai
pathlib


